/* color theme (https://i.pinimg.com/originals/d9/a1/7d/d9a17d40c2a47d352c47cf53f3de2607.png): 
#B8613C = clay
#DBA955 = mustard
#E8D8C5 = sand/cream
#967D5C = khaki
#645B53 = stone
#7E8670 = olive
*/
body {
  font-family: "Montserrat", sans-serif;
  background-color: #e8d8c5;
}
nav {
  background-color: #b8613c;
}
h1 {
  text-align: center;
  padding-top: 20px;
  font-size: 60px;
  color: #7e8670;
  font-weight: 600;
}
p {
  text-align: center;
}
footer {
  font-size: 10px;
  font-style: italic;
  text-align: center;
  color: #645b53;
}

img {
  width: 300px;
  display: block;
  margin: auto;
  border-radius: 3px;
}
a {
  text-decoration: none;
  color: #b8613c;
}
a:hover {
  color: #dba955;
}
.intro {
  color: #645b53;
  margin: 20px;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 500;
}
